<?xml version="1.0"?>
<data>
    <login name="Laurenz">
        <password></password>
        <username></username>
    </login>
    <login name="Anil">
        <password></password>
        <username>1607372</username>
    </login>
    <course name="GDPII">
        <id>44</id>
        <startDate>12312321321</startDate>
        <gotPlace>0</gotPlace>
    </course>
    <course name="UEAna">
        <id>32</id>
        <startDate>23421321</startDate>
        <gotPlace>0</gotPlace>
    </course>
</data>
