<?xml version="1.0"?>
<data>
    <login name="Laurenz">
        <password>1234</password>
        <username>Lau</username>
    </login>
    <login name="Anil">
        <password>1243</password>
        <username>Resu</username>
    </login>
    <course name="GDPII">
        <id>44</id>
        <startDate>12312321321</startDate>
        <gotPlace>0</gotPlace>
    </course>
    <course name="UEAna">
        <id>32</id>
        <startDate>23421321</startDate>
        <gotPlace>0</gotPlace>
    </course>
</data>
